@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.scrolled-nav {
  background: linear-gradient(to right, rgb(2, 207, 243), rgb(20, 177, 250));
  color: white;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.22);
  position: fixed;
}
.nav-menu {
  list-style-type: none;
}
.nav-item {
  display: inline-block;
  margin-left: 1rem;
  color:black;
  font-weight: 500;
  font-size: 20px;
}

.scrolled-nav .nav-item{
  color: white;
}

.hero{
  height: 500px;
  background: linear-gradient(to right, rgb(2, 207, 243), rgb(20, 177, 250));
  display: flex;
  align-items: center;
}
.hero-image{
  width: 40%;
}
.hero-content{
  line-height: 40px;
}
.hero-content h1{
  font-family: 'PT Sans Caption';
  font-size: 62px;
  font-weight: 700;
}
.hero-content h3{
  font-size: 28px;
  font-weight: bold;
}

.hero-content p{
  font-size: 20px;
}