.latest_works{
    p{
        max-width: 800px;
        margin: auto;
        text-align: center;
        line-height: 150%;
        margin-bottom: 100px;
    }
    .works{
        .work{
            .work_image{
                img{
                    width: 100%;
                    height: auto;
                    // max-height: 550px;
                }
                margin-bottom: 20px;
            }
            .work_description{
                text-align: center;
                h3{
                    margin-bottom: 15px;
                    font-size: 28px;
                }
                p{
                    margin: 0;
                }

            }
        }
    }
}