.banner{
    background: black;
    color: white;
    overflow: hidden;
    .banner_content{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        .title_description{
            width: 100%;
            padding: 1rem 0;
            h1{
                font-size: 40px;
                span{
                    color: #4b51d7;
                }
            }
            p{
                letter-spacing: 0.6em;
                color: #4b51d7;
            }
        }
        .hero_image{
            width: 100%;
            text-align: end;
            position: relative;
            height: 650px;
            .first_orbit{
                width: 500px;
                height: 500px;
                border: 2px #4b51d7 solid;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 10%;
                animation: orbitLikeRotation 4000ms linear infinite;
                .react_logo{
                    position: absolute;
                    left: 0;
                    top: 340px;
                    width: 80px;
                    height: 80px;
                    animation: orbitLikeRotationRev 4000ms linear infinite;
                }
                .redux_logo{
                    top: 430px;
                    left: 350px;
                    background: white;
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;
                    position: absolute;
                    animation: orbitLikeRotationRev 4000ms linear infinite;
                }
                .typescript{
                    top: 0;
                    left: 350px;
                    height: 80px;
                    width: 80px;
                    position: absolute;
                    animation: orbitLikeRotationRev 4000ms linear infinite;
                }
                .next{
                    top: 0;
                    height: 80px;
                    width: 80px;
                    left: 60px;
                    position: absolute;
                    animation: orbitLikeRotationRev 4000ms linear infinite;
                }
            }
            img{
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .banner{
        .banner_content{
            flex-direction: row;
            .title_description{
                width: 50%;
                padding: 0;
                    h1{
                        font-size: 50px;
                    }
                    p{
                        color: #4b51d7;
                        letter-spacing: 0.88em;
                    }
                }
            .hero_image{
                width: 50%;
                .first_orbit{
                    right: 0;
                }
                img{
                    right: 0;
                }
            }
        }
    }
}

@keyframes orbitLikeRotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes orbitLikeRotationRev {
    100%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}